# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data Vault Security (Blocks heavy or protected microdata files)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Serialized Model Artifacts
artifacts/*
!artifacts/.gitkeep

# Environment, IDE and System Crap
.venv/
venv/
ENV/
.env
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store